body {
  background-image: url('/static/images/1-2.jpg');
  background-size: cover;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* background: linear-gradient(-45deg, #ffe2d3, #a6dee2, #cfc2fc); */
}

/* iframe { position: absolute; float: left; clear: both; z-index: 0; left: no-repeat; } */

 div{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }
 .div {
  
  display: flex;
  flex-direction: column;
}
 .navbar {
    position: fixed;
    top: 1%;
    width: 99%;
	  overflow: hidden;
	  background: rgba(48, 45, 45, 0.5);
    border-radius: 10px;
    z-index: 4;
  }
  
  .navbar a {

	  float: left;
	  font-size: 16px;
	  color: white;
	  text-align: center;
	  padding: 14px 16px;
	  text-decoration: none;
    order: 1;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-right: 1%;
    border-radius: 10px;
    width: 5%
  }

  .home{
    margin-left: 1%;
    font-style: italic;
    font-weight: bold;
    background-color: #f2495c;
  }

  button.fetch{
    border-color: rgba(158, 155, 154, 0.5);
    font-size: medium;
    font-style: italic;
    font-weight: bold;
    color: aliceblue;
    border-radius: 10px;
    padding: 10px;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-right: 1%;
    order: 5;
    float: right;
    background-color: forestgreen;
    width: 8%;  
  }

  
  input.datepicker{
    position: relative;
    order: 2;
    justify-self: center;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-right: 1%;
    padding: 8px;
    border-radius: 10px;
    width: 10%
  }
  .datepicker{
    background: rgb(255, 255, 255);
    border-color: rgba(158, 155, 154, 0.5);
  }


select{
  background: rgb(255, 255, 255);
  border-color: rgba(158, 155, 154, 0.5);
  position: relative;
  order: 2;
  justify-self: center;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-right: 1%;
  padding: 8px;
  border-radius: 10px;
  width: 10%;
}  


.search{
  border-color: rgba(158, 155, 154, 0.5);
  box-shadow: none;
  border-radius: 10px;
  background: rgba(255, 255, 255, 1);
  margin-top: 1%;
  margin-bottom: 1%;
  padding: 8px;
  width: 25%;
  color: black;
  font-size: medium;
  text-align: center;
}

.search::placeholder{
  color: black;
  font-size: medium;
  text-align: center;
  } 

  .meter {
    background: #191919;
    --green: #37872d;
    --lightgreen: #56a64b;
    --yellow: #eab839;
    --orange: #ef843c;
    --red: #f2495c;
    max-width: fit-content;
    margin-top: 15%; 
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    
}

  @property --o {
    syntax: "<number>";
    inherits: true;
    initial-value: 0;
  }  
  
  .container{
    width:100vmin;
    display:flex;
    
  }
  
  
  #g1{
    --fill-percentage:20;
    --fill-color:var(--orange);
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
  }
  
  #g2{
    --fill-percentage:70;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
    
  .gauge{margin:10}
  
  .gauge > svg{
    z-index:1;
    position:relative;
    background:0;
    margin-top:15%;
    width:100%;
  }
  .gauge > svg > text {
    text-anchor:middle;
    -o-table-baseline:central;
    fill:var(--fill-color);
    font-size:xx-small;
  }
  .bot-bar > svg > text {
    fill:white;
    font-size:xx-large;
  }
  .gauge{
    display:flex;
    align-items: center;
    justify-content:center;
    
    position:relative;
    aspect-ratio: 2 / 1.5;
    width:50%;
  
    --fill-color:var(--green);
    /*--fill-percentage: 50;*/
    
    --background-color: rgba(48, 45, 45, 1);
    --gauge-background-color:#244;
  
    --lightgreen-deg:70deg;
    --yellow-deg:60deg;
    --orange-deg:50deg;
    --red-deg:40deg;
    
    color:var(--fill-color);
    
    /* outer ring */
    background:
  radial-gradient(circle at 50%70%,
    var(--background-color) 0 51%,
    #0000 0 63%,
    var(--background-color) 63.1%),
  conic-gradient(from -115deg at 50%70%,
    var(--red) 0 var(--red-deg),
    var(--orange) 0 var(--orange-deg),
    var(--yellow) 0 var(--yellow-deg),
    var(--lightgreen) 0 var(--lightgreen-deg),
    var(--green) 0 230deg,
    var(--background-color) 0)
  }
  
  .gauge::after{
    content:' ';
    top:0;
    bottom:0;
    left:0;
    right:0;
    position:absolute;
    
    --o:0;
    animation: roll-o-1 1s alternate ease-in-out both; 
    
    /* inner ring */
    background:
  radial-gradient(circle at 50%70%,
    var(--background-color) 0 45%,#0000 45.1% 59%,
    var(--background-color) 59.1%),
  conic-gradient(from -115deg at 50%70%,
    var(--fill-color) 0 min(2.3deg * var(--o), 230deg),
    var(--gauge-background-color) 0 230deg,
    var(--background-color) 0);
    clip-path:circle(50% at 50%70%)
  }
  
  @keyframes roll-o-1 {
    0% {
      --o: 0;
    }
    100% {
      --o: var(--fill-percentage);
    }
  }
  

.bot-b{
    background: #191919;
    max-width: fit-content;
    margin-bottom: 25%; 
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    background: rgba(48, 45, 45, 0.6);
}
.bot-bar > text {
  text-anchor:middle;
  font-size: larger;
}
#b1{
  color: antiquewhite;
  text-align: center;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  /* background: rgb(32, 18, 9); */
}

#b2{
  color: antiquewhite;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  overflow-wrap: break-word;
  /* background: rgba(238, 162, 117, 1);  */
}

.glass {
  position: relative;
  background: inherit;
  overflow: hidden;
  width: fit-content;
  height: fit-content;
  border-radius: 16px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3), 0 6px 20px rgba(0, 0, 0, 0.3);
  z-index: 1;
  margin-bottom: 15%;
}

.glass:before {
  content: '';
  position: absolute;
  background: inherit;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: -20px;
  box-shadow: inset 0 0 500px rgba(48, 45, 45, 0.4);
  filter: blur(10px);
  z-index: -1;
}

.dashboard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 140px);
  grid-gap: 20px;
  grid-template-areas: 
      "box1 box2 box3 box6 box4"
      "box1 box2 box5 box6 box4"
      "box7 box7 box7 box7 box4";
  max-width: fit-content;
  padding: 20px;
  justify-content: center;
  max-height: fit-content;
}

.box{
color: white;
}
.box {
  padding: 20px;
  background: rgba(73, 72, 72, 0.5);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  transition: 1s;
}


.box-1 {
    grid-area: box1;
    width: 300px;  
    transition: 1s;
}
.box-1:hover{
    transform: rotateX('180');

}

.box-2 {
    grid-area: box2;
    width: 300px;  
}

.box-3 {
    grid-area: box3;
    width: 300px;  
}

.box-4 {
    grid-area: box4;
    width: 150px;
    font-size: small;  
}

.box-5 {
    grid-area: box5;
    width: 300px;  
}

.box-6 {
    grid-area: box6;
    width: 300px;  
    overflow: scroll;
    
}
.box-6::-webkit-scrollbar{
  display: none;
}
.box-7 {
    grid-area: box7;
}

h2 {
    margin: 0;
}

.weather-icon {
    margin-left: 35%;
    margin-top: 15%;
    font-size: 4rem;
}

.temperature {
    margin-left: 35%;
    font-size: 1.5rem;
    font-weight: bold;
}


.air-quality-level {
    font-size: 1.5rem;
    font-weight: bold;
}


p {
    margin: 0;
}

.btn-collection{
  height: 100%;
}
.justbtn{
  margin-top: 20%;
  margin-bottom: 20%;
}
.justbtn,
.anotherbtn{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aliceblue;
    font-size: xx-large;
    width: 100%;
    height: 40%;
    border-radius: 10px;
    box-shadow: whitesmoke;
    background-color: #333;
}

.weather-info{
  position: relative;
  height: 100%;
}
.temperature{
  position: absolute;
  
}
.location{
  position: absolute;
  bottom:85px;
  right:5px;
}