
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather & Air Quality Dashboard</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>
<body>  
    <div class="navbar">
        <a class="home" id="home" href="/">Home</a>
        <a class="about" href="#">About</a>
        
        <select id="cityDropdown" name="cityName">
          <option value="" disabled selected>Select a city</option>
          <option value="Toronto North">Toronto North</option>
          <option value="Toronto West">Toronto West</option>
          <option value="Ottawa">Ottawa</option>
          <option value="Hamilton Mountain">Hamilton Mountain</option>
          <option value="Hamilton Downtown">Hamilton Downtown</option>
          <option value="Windsor Downtown">Windsor Downtown</option>
          <!-- Add more options as needed -->
        </select>
        <input class="datepicker" type="date" id="dpicker">
        <input class="search" type="search" id="search" placeholder="Search"> 
        <button class="fetch" id="fetch">Fetch AQI</button>
    </div>

    

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>

document.getElementById('fetch').addEventListener('click', function() {
    fetchTemperature();
    fetch_main();
});

var element = $('#id');
if (element.length > 0) {
    element[0].style.display = 'block';
}

</script>
</body>
</html>
