
<!DOCTYPE html>
<html lang="en">
<head>
    <title>How our AI Model Works</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background-image: url('/static/images/1-2.jpg');
            background-size: cover;
        }

        iframe {
            width: 70%;
            height: 90%;
        }
    </style>
</head>

<body>

    <iframe src="{{ url_for('serve_pdf', filename='why.pdf') }}" frameborder="0"></iframe>
<!-- 
<iframe src="D:/temp/UI/airpol/docs/report.pdf" style="width:600px; height:500px;" frameborder="0"></iframe> -->

</body>
</html>
